# CONFIG_X86_EXTENDED_PLATFORM is not set
# CONFIG_HYPERVISOR_GUEST is not set
CONFIG_NR_CPUS=16
# CONFIG_X86_MCE_INTEL is not set
# CONFIG_X86_MCE_AMD is not set
# CONFIG_MICROCODE_INTEL is not set
# CONFIG_MICROCODE_AMD is not set
# CONFIG_X86_5LEVEL is not set
CONFIG_PGTABLE_LEVELS=4
# all my UEFI are 64bit
# CONFIG_EFI_MIXED is not set
